.header a {
  text-align: left;
  font-size: 30px;
  text-decoration: none;
  color:black;
  display:block;
  width:160px;
  height:30px;
}






* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */


.row{
  margin-top: 2px;
  margin: 4px;

  
}
.column {
  
  margin: 2px;
  margin-left: 25px;
  
  float: left;
  width: 30.33%;
  padding: 8px;
  height: 400px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
}
